@import '_variables.scss';

.content {
  max-width: $w-content;
  margin: 0 auto;
}

.content__header {
  padding: 32px 16px 24px;
  @include media(small) {
    padding: 64px 32px 48px;
  }
}

.content__title {
  margin: 0;
  font-size: 1.8em;
  line-height: 1.4;
  @include media(small) {
    font-size: 2.2em;
  }
}

.content__meta {
  color: $ct-sub;
}

.content__date {
  display: inline-block;
  padding: 8px 8px 0 0;
}

.content__ad {
  padding: 32px 0 16px;
}

.content__body {
  line-height: 1.8;
  padding-bottom: 32px;

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  pre,
  table {
    margin: 0 0 16px;
    padding: 0 16px;

    @include media(small) {
      padding: 0 32px;
    }
  }

  p:has(img) {
    padding: 0;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 16px;
  }

  ul,
  ol,
  dl {
    margin: 0 0 16px;
    padding: 0 16px 0 40px;
    ul {
      margin-bottom: 0;
      li {
        padding: 4px 0;
      }
    }

    @include media(small) {
      padding-left: calc(32px + 1em);
    }
  }

  hr {
    margin: 32px 16px;
  }

  h2 {
    margin: 32px 0 16px;
    font-size: 1.6em;
    padding-left: 1.8em;
    background-size: 1.3em;
    background-image: url(~/assets/images/mya-ake_logo.svg);
    background-repeat: no-repeat;
    background-position: .5em 0.25em;
    @include media(small) {
      padding-left: 2.4em;
      background-position: 1em 0.25em;
    }
  }

  h3 {
    margin: 32px 0 16px;
    font-size: 1.4em;
  }

  h4 {
    margin: 32px 0 16px;
    font-size: 1.3em;
  }

  h5 {
    font-size: 1.2em;
  }

  h6 {
    font-size: 1em;
  }

  table {
    border-collapse: collapse;
    overflow-x: scroll;
    display: block;
    -webkit-overflow-scrolling: touch;
  }

  th,
  td {
    padding: 16px 8px 16px 8px;
  }

  tr {
    border-bottom: solid 1px $cb-default;
  }

  pre {
    overflow-x: scroll;
    pointer-events: auto;

    code {
      padding: .5em;
      color: #ddd;
    }
  }

  code {
    padding: 0 .2em;
    color: #e76e3c;
  }

  em {
    font-weight: bold;
  }

  blockquote {
    margin: 0 16px 16px;
    border-left: solid 4px $cb-default;
  }

  twitterwidget {
    margin: auto;
  }
}
